ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: left;
}

li a {
    display: block;
    color: blue;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.active {
    background-color: gray;
    color: white;
}

li a:hover {
    background-color: orange;
    color: white;
}